body{
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}
img{
  width:100%;
}
nav{
  background-color: yellow;
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5%;
  margin-bottom: 5%;
  border-bottom: 1px solid darkgrey;
}
main{
  width: 100%;
  margin: auto;
  background-color: white;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 5%;
}

@media (max-width: 2200px){
    main{
      grid-template-columns: 1fr 1fr 1fr;
      background-color: grey;
    }
    nav{
      background-color: white;
      padding-top: 5%;
      padding-bottom: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2%;
      margin-bottom: 5%;
      border-bottom: 1px solid darkgrey;
    }

}
@media (max-width: 1700px){
    main{
      grid-template-columns: 1fr 1fr;
      background-color: yellow;
    }
    nav{
      background-color: white;
      padding-top: 5%;
      padding-bottom: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10%;
      margin-bottom: 5%;
      border-bottom: 1px solid darkgrey;
    }

}@media (max-width: 1100px){
    main{
      grid-template-columns: 1fr;
      background-color: pink;
    }
    nav{
      background-color: pink;
      padding-top: 5%;
      padding-bottom: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5%;
      margin-bottom: 5%;
      border-bottom: 1px solid darkgrey;
    }

}
