body{
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  text-decoration: none; /*FÅR IKKE BORT UNDERSTREK PÅ LINK*/
}
img{
  width:100%;
  height: 100%;
}
nav{
  background-color: lightgrey;
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5%;
  margin-bottom: 5%;
  border-bottom: 1px solid darkgrey;
}
main{
  width: 100%;
  margin: auto;
  background-color: white;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 5%;
}

@media (max-width: 2500px){
    main{
      grid-template-columns: 1fr 1fr 1fr;
      background-color: white;
    }
    nav{
      padding-top: 5%;
      padding-bottom: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2%;
      margin-bottom: 5%;
      border-bottom: 1px solid darkgrey;
    }
}

@media (max-width: 1700px){
  main{
    grid-template-columns: 1fr 1fr;
    background-color: white;
  }
  nav{
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
    margin-bottom: 5%;
    border-bottom: 1px solid darkgrey;
  }

}
@media (max-width: 1100px){
  main{
    grid-template-columns: 1fr;
    background-color: white;
    grid-gap: 1%;
  }
  nav{
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    margin-bottom: 5%;
    border-bottom: 1px solid darkgrey;
  }

}
.medium{
  width: 100%;
}

 {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
}


.text {
  color: yellow;
  font-size: 200px;
  font-weight: bold;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size*/
@media only screen and (max-width: 900px) {
  .text {font-size: 50px}
}
#insp{
  font-size: 100px;
}
#insprierendeBilder{
  margin-top: 20px;
}
