body{
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  text-decoration: none; /*FÅR IKKE BORT UNDERSTREK PÅ LINK*/
}
img{
  width:70%;
  height: 70%;
}
.bar{
  background-color: lightgrey;
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
  border-bottom: 1px solid darkgrey;
}
main{
  width: 100%;
  margin: auto;
  background-color: white;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 5%;
}

@media (max-width: 2500px){
    main{
      grid-template-columns: 1fr 1fr 1fr;
      background-color: white;
    }
    nav{
      padding-top: 5%;
      padding-bottom: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2%;
      margin-bottom: 5%;
      border-bottom: 1px solid darkgrey;
    }
}

@media (max-width: 1700px){
  main{
    grid-template-columns: 1fr 1fr;
    background-color: white;
  }
  nav{
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
    margin-bottom: 5%;
    border-bottom: 1px solid darkgrey;
  }

}
@media (max-width: 1100px){
  main{
    grid-template-columns: 1fr;
    background-color: white;
    grid-gap: 1%;
  }
  nav{
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    margin-bottom: 5%;
    border-bottom: 1px solid darkgrey;
  }

}
.medium{
  width: 100%;
}

 {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
}


.text {
  color: yellow;
  font-size: 200px;
  font-weight: bold;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size*/
@media only screen and (max-width: 900px) {
  .text {font-size: 50px}
}
#insp{
  font-size: 100px;
}
#insprierendeBilder{
  margin-top: 20px;
}
.produkt{
  text-decoration: none;
  color: black;
}
footer{
    font-weight: lighter;
    font-style: italic;
    color: darkgrey;
    text-align: center;
    margin-top: 20%;
    border-top: 1px solid darkgrey;
    margin-bottom: 8%;
    padding-top: 5%;
  }
  h1{
    font-size: 60px;
    margin-top: auto;
    font-weight: lighter;
  }
  #innholdfooter{
    font-size: 40px;
    margin-bottom: -10px;
  }
  #navHandlekurv{

  }
  #handlelapp{

  }
  .kontaktinfo{
    display: grid;
    grid-template-columns:1fr;
    grid-column-gap: 1%;
    grid-row-gap:5%;
    font-size: 30px;
  }
  #kontaktopplysning{
    font-size: 20px;
    width: 20%;
  }
  #bestill{
    text-align: right;
    font-size: 60px;
    margin-left: 68%;
    margin-top: 10%;
    background-color:#F6D856 ;
  }

  .bar {
  position: sticky;
  background-color: #1b1b1b;
}

.bar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    position: relative;
}

.dropdown .dropknapp {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.bar a:hover, .dropdown:hover .dropknapp {
    background-color: red;
}

.dropdownEn {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdownTo {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 160px;
  top: 0px;
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdownEn, #knapp1:hover > .dropdownTo {
  display: block;
}

.dropdownEn .innholdDrop {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdownEn .innholdDrop:hover, .dropdownTo a:hover {
    background-color: #ddd;
}

#buttonBlå {
  background-color: white;
  color: black;
  border: 3px solid #008CBA;
  }
#buttonBlå:hover {
  background-color: #008CBA;
  color: white;
  }

#buttonGul {
  background-color: white;
  color: black;
  border: 3px solid gold;
}

#buttonGul:hover {
  background-color: gold;
  color: white;
}

#buttonSort {
  background-color: white;
  color: black;
  border: 3px solid black;
  }
#buttonSort:hover {
  background-color: black;
  color: white;
  }

#buttonSort {
  background-color: white;
  color: black;
  border: 3px solid black;
}

#buttonSort:hover {
  background-color: black;
  color: white;
}

#buttonRosa {
  background-color: white;
  color: black;
  border: 3px solid deeppink;
  }
#buttonRosa:hover {
  background-color: deeppink;
  color: white;
  }

#buttonHvit {
  background-color: white;
  color: black;
  border: 3px solid #e7e7e7;
  }
#buttonHvit:hover {
  background-color: #e7e7e7;
  }

#buttonHvit {
  background-color: white;
  color: black;
  border: 3px solid blue;
  }
#buttonHvit:hover {
  background-color: white;
  color: black;
  }

#buttonGrønn {
  background-color: white;
  color: black;
  border: 3px solid #4CAF50;
  }
#buttonGrønn:hover {
  background-color: #4CAF50;
  color: white;
  }

#buttonRød {
  background-color: white;
  color: black;
  border: 3px solid #f44336;
  }
#buttonRød:hover {
  background-color: #f44336;
  color: white;
  }
  #buttonGrå {
    background-color: white;
    color: black;
    border: 3px solid grey;
    }
  #buttonGrå:hover {
    background-color: grey;
    color: white;
    }

  #buttonLilla {
    background-color: white;
    color: black;
    border: 3px solid purple;
    }
  #buttonLilla:hover {
    background-color: purple;
    color: white;
    }
