a{
  text-decoration: none;
  color:black;
  text-align: center;
}
p{
  margin-left: 10%;
  color:lightblue;
  font-size: 10px;
}
img{
  width: 50%;
  height:50%;
}
.bokser{
  border: 1px solid black;
  margin-top: 5%;
}
h2{
  text-align: center;
}

body{
  /*background-image: radial-gradient(white, lightblue, navy);*/
  margin-left: 1%;
  margin-right: 1%;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap:1%;
}
h1{
  grid-column: 1/3;
}
